# GoLand specific files and directories
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/*.iml
.idea/libraries/
!/.idea/runConfigurations/ # Keep run configurations if shared

# Other common ignored files
.DS_Store
Thumbs.db

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
